# 01 IMPORTING LIBRARIES

In [2]:
import pandas as pd
import numpy as np
import os

# 02 IMPORTING DATA

In [4]:
path=r'/Users/serenakunzmann/Documents/CareerFoundry-Python/03-2025 Instacart Basket Analysis'

In [6]:
#importing df_ords_prior
df_ords_prior=pd.read_csv(os.path.join(path,'Data','Original Data','orders_products_prior.csv'))

In [7]:
#importing df_ords
df_orders=pd.read_csv(os.path.join(path,'Data','Original Data','orders.csv'),index_col=False)

In [56]:
df_orders.shape

(3421083, 7)

# 03 DATA CONSISTENCY

In [12]:
#cleaning orders data
df_orders_2=df_orders.drop(columns=['eval_set'])

In [60]:
df_orders_2.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [14]:
df_orders_2['order_id'] = df_orders_2['order_id'].astype('int64')

In [16]:
df_orders_2['user_id'] = df_orders_2['user_id'].astype('str')

In [18]:
df_orders_2.rename(columns={'order_dow':'order_day_of_week'},inplace=True)

In [100]:
df_orders_2.describe()

,order_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [104]:
#exporting cleaned order data
df_orders_2.to_csv(os.path.join(path,'Data','Prepared Data','orders_02_prepared'))

# 04 MERGING DATAFRAMES

In [25]:
# Merging df_ords and df_ords_prior
df_merged_large_2=df_orders.merge(df_ords_prior,on='order_id',indicator=True)

In [112]:
df_merged_large_2.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [114]:
df_merged_large_2.to_pickle(os.path.join(path,'Data','Prepared Data','order_prod_combined_pickle'))

In [22]:
df_merged_large_2.shape

(32434489, 10)